<!DOCTYPE html>
<html ng-app="AdminLogin">
<head>
 <title> LOGIN TRASHURE</title>
 <link rel="shortcut icon" type="image/x-icon" href="logo.png">
 <link rel="stylesheet" type="text/css" href="bootstrap.css">
 <link rel="stylesheet" type="text/css" href="dot.css">
 <script type="text/javascript" src="angular.js"></script>
 <script type="text/javascript" src="dot.js"></script>
</head>
<body ng-controller="LoginAdmin" class="coeg">
    <div class="row">
  <div class="col-md-12">
  
                                                
  </div>
 </div>
  <div class="row">
   <div class="col-md-4">

   </div>
   
   <div class="col-md-4" style="margin-top: 100px;">
   <img src="trashurebaru.png" width="300px" style="border-radius: 5px 5px 5px 5px;">
   <br>
   <br>
   <input ng-model="username" class="form-control" type="text" placeholder="Username...">
   <br>
   <input ng-model="password" class="form-control" type="password" placeholder="Password...">
   <br>
   <button class="btn btn-default btn-block" ng-click="login()">Login</button>
   <br>
   <span style="color:black">{{login1}}</span>
   </div>

   <div class="col-md-4">

   </div>
  </div>
</body>
</html>



<center> Cloud Computing
                                    Trashure<center><center>
                                    Hendy Tri Wahyu Ardiansyah 		(3011710028)<center>
                                    Mochammad Kukuh Wicaksono 		(3011710036)<center>
                                    Novita Rizky Amalia 			(3011710046)<center>
                                    Raqfi Falan Yukhlifa 			(3011710050)<center>

